<div class = "container" id = "contenedor">
    <br/>
    <br/>
    <br/>
    

    <img id = "imagen1" src="./assets/logoWalmart.jpg"/>
    <h1 style = "width: 500px;">Inicio de sesión</h1>
    <br/>
    <form style = "width: 500px;">

        <div class= "form-group col-md-3">
            
            <input type = "text" name = "apellido" placeholder="Usuario">
         </div>

         <br/>
         <br/>
         <div class= "form-group col-md-3">
            
            <input type = "text" name = "apellido"  placeholder="Contraseña">
         </div>

        <br/>
        <br/>

         <input type = "submit" value = "Ingresar"  class = "btn btn-primary">

         <br/>
         <br/>
         <br/>
         <br/>

         <a href = "https://walmart.com">No tengo cuenta</a>

         <br/>
         <a href = "https://walmart.com">Olvidé mi contraseña</a>
    </form>

</div>



